:root {
  --green: #8fd14f;
  --black: #0a0a0b;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: #1e1e1e var(--black);
}
::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
::-moz-selection {
  color: var(--green);
  background: var(--black);
}
select option {
  color: var(--green);
  background: var(--black);
}
::selection {
  color: var(--green);
  background: var(--black);
}

* {
  scrollbar-width: thin;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0f1113;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.619);
  z-index: 500;
}
.mobile-header {
  display: none;
}
.menu {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  background-color: #131315;
  flex-direction: column;
  padding: 20px 0px;
  overflow-y: auto;
  z-index: 1000;
  border-right: solid 1px #262628;
}
.menu-logo-img {
  display: block;
  width: 160px;
  height: 60px;
  margin: 0 auto;
}
.mobile-header-burger {
  width: 30px;
  height: 30px;
  margin: 0;
}
.mobile-header-logo {
  display: block;
  width: 110px;
  height: 35px;
  margin: 0 ;
  margin-left: 10px;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #262628;
}
h4 {
  color: #56565a;
  text-align: center;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  background: none;
  color: #fff;
  transition: 0.3s;
}
button:hover {
  border-color: #49494d;
  background-color: #272729;
}
.menu-link {
  display: flex;
  justify-content: center;
  width: 100%;
  a {
    text-align: center;
    color: var(--green);
  }
}
.articles {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 50px 20px 250px;
  overflow-y: auto;
  .articles-container {
    width: 100%;
    overflow-y: auto;
  }
  .article {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    background: none;
    transition: 0.3s;
    color: var(--green);
    font-size: 19px;
    text-decoration: none;
  }
  .article:hover {
    border-color: #49494d;
    background-color: #272729;
    color: #7cb543;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-bottom: 20px;
    height: 100dvh;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .mobile-header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #131315;
    z-index: 1000;
  }
  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 55px;
    height: 55px;
    font-size: 45px;
    text-align: center;
    border: none;
  }
  .menu {
    display: flex;
    z-index: 999;
    justify-content: flex-start;
    left: -210px;
    transition: left 0.3s ease;
    padding-top: 55px;
    height: 100dvh;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .open {
    left: 0;
  }
  .menu img {
    display: none;
  }
  img {
    width: 120px;
    height: 25px;
    margin: 0;
    margin-left: 10px;
  }
  .articles {
    align-items: normal;
    padding: 50px 5px 20px 5px;
  }
  .overlay {
    display: block;
  }
}
